<section class="about_section layout_padding">

    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
            <br><br>
          <div class="img-box">

            <img src="../../../assets/images/pngegg.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">

            <div class="heading_container">
              <br><br><br><br><br><br><br><br>

              <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; ">Seen Topluluğu'nun otomotiv sektöründeki ilk yatırımı olarak 2016 yılında kurulmuş olan Oasis
                Otomotiv’in çatısı altında faaliyet gösteren küresel araç kiralama markası Seen, Türkiye’nin lider araç kiralama markasıdır.
                Pazara giriş yaptığı 2017 yılından bu yana sektörünün lideri olan OasisTürkiye, ülkenin en yaygın araç kiralama ağına ve en geniş araç filosuna sahiptir.
                İlk ve öncü olmanın getirdiği sorumlulukla, geliştirdiği yeni konsept ve iş birlikleriyle sektörün
                ve bu sektörü besleyen diğer sektörlerin gelişmesine önemli katkı sağlamaktadır.
                <br><br>
               Sağladığı müşteri memnuniyeti ile müşterileri tarafından zirvede tutulmakta ve ödüllerle başarılarını taçlandırmaktadır.
               Oasis Türkiye, EMEA ülkeleri arasındaki müşteri memnuniyeti sıralamasında liderliğini korumaktadır.
              </p><p style="font-weight: bold;">Yurt dışında da Suriye, Afganistan, Fas ve Kuzey Irak’ta hizmet vermektedir.</p>
            </div>
            <p>

            </p>
            <a style="color: rgb(21, 15, 15);" routerLink="/">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
